html {
  --skin-color: pink;
  --eye-color: blue;
  --flavour: pink;
}

.defs {
  display: none;
}

.happy-face {
  width: 300px;
  height: 300px;
}

.face {
  fill: var(--skin-color);
}

.eyeball {
  fill: white;
}

.eye {
  fill: white;
}

.iris {
  fill: var(--eye-color);
}

.pupil {
  fill: black;
}

.smile {
  stroke: #9e0e20;
  stroke-width: 1px;
}

.tanned {
  --skin-color: #9c6024;
}

.pale {
  --skin-color: #edc1b2;
}

.green-eyes {
  --eye-color: #0e8c53;
}

.brown-eyes {
  --eye-color: #592b04;
}

.ice-cream {
  width: 200px;
  height: 400px;
}

.cone {
  fill: #ffdd91;
}

.scoop {
  fill: var(--flavour);
}

.strawberry {
  --flavour: pink;
}

.chocolate {
  --flavour: #330a05;
}

.vanilla {
  --flavour: #eed;
}

.mint {
  --flavour: #ace6b4;
}
