.ice-cream {
  width: 200px;
  height: 400px;
}

.cone {
  fill: #ffdd91;
}

.scoop {
  fill: var(--flavour);
}

.strawberry {
  --flavour: pink;
}

.chocolate {
  --flavour: #330a05;
}

.vanilla {
  --flavour: #eed;
}

.mint {
  --flavour: #ace6b4;
}

